*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('images/background12.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 70% 30%;
    
}
section
{
    width: 73%;
}
section .navbar-container .row
{
    width: 100.9vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.nav-container
{
    width: 100%;
    border: 2px solid rgb(211,208,209);
}

#logo
{
    width: 20%;
}
#checkOut{
    color: rgb(120,130,139);
}
.header-section span
{
    font-size: 80%;
}

.seprator::after
{
    content: '|';
    padding:0 7px;
}

.header-items
{
    color: rgb(170, 169, 169);
}

.navbar-nav li:first-child 
{
    flex:0 1 16.5%;
}

.nav-item
{
    background-color: rgb(211,208,209);
    border: 1px solid rgba(255,255,255,0.35);
    font-size: 0.8rem;
    padding: 0 0.6%;
}

.navbar-nav
{
    width: 100%;
    padding-top: 0.02%;
}

.search-bar
{
    padding-right: 12%;
    background-color: rgb(211,208,209);
    border: 1px solid rgba(255,255,255,0.35);
    
}
.search-bar input
{
    min-width: fit-content;
    width:40%;
    font-size: 0.7rem;
    border-radius: 0;
    padding: 0.2% 3%; 
    box-shadow: -1px -1px grey;
}
.recipe
{
    border: 10px solid white;
    border-right:none;
    width: 100%;
}
.search-bar input::placeholder
{
    color: rgb(197, 197, 197);
}

.search-bar button 
{
    background: white;
    padding: 0 1% ;
    font-size: 0.8rem;
}  

.navbar-nav .nav-item
{
    align-items: end;
}

.list-items  img
{
    width: 7.4%;
}

.list-items span
{
    margin:0 7.5% 0 0;
}

.list-items li
{
    color: rgb(120,130,139);
    font-size: 80%;
}

section .row:nth-child(3) ul li:not(:first-child)
{
    list-style: circle;
}

section .row:nth-child(3) ul span 
{
    font-size: 80%;
    color: rgb(120,130,139);
    
}

section #whole-width
{
    width: 100vw;
    position: relative;
    left: -13.5vw;
    margin:0;
}

hr
{
    margin:2.4% 8%;
    color: rgb(132,130,131);
}

ul
{
    padding: 0;
}
.home-container div img
{
    border: 10px solid white;
    border-right: none;
    width:100%;    
}

p
{
    margin: 0;
}

.dress-category
{
    background: rgba(51,50,49,0.9);
    outline: 1px solid rgba(132,130,131,0.5);
    outline-offset: -18.5px;
    padding: 4% 4% 4% 4%;
    border: 10px solid white;
}

.dress-category label
{
    padding-bottom: 10% ;
}

.dress-category label, footer
{
    color: rgb(132,130,131);
    padding-left: 10%;
}

.dress-category header
{
    color: rgb(216,214,215);
    font-size: 210%;
    font-weight: 200;
    padding: 8% 0;
    padding-left: 10%;
}

.dress-category footer
{
    font-size: 80%;
}

.divider p
{
    padding-left: 10%;
    color: rgb(216,214,215);
}
.image-content{
    width: 100%;
}
.image-content p
{
    font-weight: 400;
}

.image-container img{
    max-height: 170px;
}
.image-container,.image-container-3
{
    background-color: white;
}

.image-container-3 .image-content  p 
{
    justify-content: start !important;
    
}
.stylish-border
{
    border-right: 1px solid black;
}
.image-container img,.image-container-3 img{
    object-fit: cover;
    overflow: hidden;
}

.image-content p:first-child
{
    padding: 5% 0;
    line-height: 130%;
    color: rgb(156,156,156);
}
.vr{
    position: absolute;
    inset:4% 0 3% 98.5%;
}

.image-content p:nth-child(2)
{
    padding-bottom: 2%;
    color: rgb(202,202,202);
    font-size: 80%;
}

.image-content p:last-child
{
    padding:0% 0;
    color: rgb(120,130,139);
    display: flex;
    justify-content: end;
    font-size: 90%;
}

section .row:nth-child(6)
{
    border: 10px solid rgba(0,0,0,0.85);
}

.footer div .seprator::after
{
    content: '|';
}
.footer
{
    font-size:80%;
}

.right-footer input
{
    width: 60%;
    color: rgb(107,107,107);
    padding-left: 2%;
    box-shadow: -0.3px -0.3px grey;
}
.right-footer,.left-footer{
    color: rgb(107,107,107);
}
.button
{
    border-radius: 8px;
    padding: 0.5% 2% 0.5% 2%;
    color: rgb(124, 124, 124);
    background-color: white;
}

.row>*{
    padding: 0;
}
@media only screen and (max-width:1199px){
    .nav-container{
        border: none;
    }
    .navbar-nav li{
        display: flex;
        justify-content: start;
        padding-left: 5%;
    }
    
}
@media screen and (max-width:1063px) {
    .header-section{
        font-size: 72%;
    }
    .header-section span::after{
        margin: 0 0%;
    }
    section .row:nth-child(3)>div>ul{
        display: block !important;
    }
    section .row:nth-child(3)>div>ul li{
        padding: 0 !important;
        margin: 0px !important;
        list-style-type: disc!important;
    }
    section .row:nth-child(3)>div>ul img{
        width: 10%;
    }

}
@media screen and (max-width:768px){
    .header-section,.header-items 
    {
        display: block !important;
        font-size: 100%;
    }
    .header-items span{
        padding: 0.5% 0;
        display: block !important;
    }
    .seprator::after{
        content: none;
    }
    .vr{
        display: none;
    }
    
}


